@import '../index';
.projectcontainer{
    @include set-width-height(353px, 414px);
    @include set-flex(center,center ,column);
    gap: 16px;
    flex-wrap: wrap;
    &-title{
        @include set-font($font-family-poppins, 16px, 500, 24px, $card-header-color);
    }
    &-viewbtn{
        @include set-width-height(68px, 40px);
        @include set-flex(center,center ,row);
        @include set-font($font-family-poppins, 14px, 400, 21px, $card-header-color);
       border: 1.5px solid $card-header-color;
       background-color: $secondary-color;
padding: 12px;
gap: 10px;
border-radius: 5px;
// opacity: 0px;

    }
} 