@import '../index';
.testimonialsection{
@include set-width-height(100%, 466px); 
background-color: $navbar-bgColor;
@include set-flex(center,center ,row);
padding: 0px 48px 0px 0px;
@media only screen and (max-width: $breakpoint-sm-max-w) {
    z-index: 999999;
    position: relative;
    padding: 38px 40px;
    @include set-width-height(302px, 100%);
    border-radius: 10px;
img{
    display: none;
 }

 flex-direction: column;
}
@media only screen and (min-width: $breakpoint-md-min-w) and (max-width: 1100px) {
    gap: 24px; 
    // margin-top: 15rem;   
    // margin-bottom: 5rem;
}
gap: 87px;
border-radius: 30px; 
// opacity: 0px;
@media only screen and (min-width: $breakpoint-md-min-w) and (max-width: 1100px) {
 flex-direction: column;
 height: 100%;
 padding: 0px;
 @include set-width-height(360px, 100%);
 overflow: hidden;
}
@media only screen and (min-width: $breakpoint-md-min-w) and (max-width: 1100px) {
    img{
        @include set-width-height(100%, 334px);
     }
}
&-container{
@include set-flex(center,flex-start ,column);
width: 374px;
gap: 31px;
@media only screen and (max-width: $breakpoint-sm-max-w) {
    width: 100%;
}
@media only screen and (min-width: $breakpoint-md-min-w) and (max-width: 1100px) {
    @include set-flex(center, center,column);
    padding: 0px 16px 24px 16px;
    gap: 31px;
    align-self: stretch;
}


&-title{
@include set-font($font-family-poppins, 20px, 600, 25.6px, $card-header-color);
text-align: left;
}
&-content{
@include set-font($font-family-poppins, 14px, 400, 17.92px, $card-header-color);
letter-spacing: 0.04em;
text-align: left;
}
&-name{
@include set-font($font-family-poppins, 24px, 700, 30.72px, $card-header-color);
text-align: left;
}
&-designation{
@include set-font($font-family-poppins, 16px, 400, 20.48px, $card-header-color);
text-align: left;
}
    }
   
}